<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./test/bootstrap.php"
    colors="true"
    strict="true"
    verbose="true"
>
    <testsuite name="Ker">
        <directory suffix=".php">./test/Ker/Test</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./test</directory>
        </whitelist>
    </filter>
</phpunit>